/* Fonts */


/* Selectors */
body {
    margin: 0;
}

header {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(196, 118, 236);
}

header > p {
    margin: 0;
}

main {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbox {
    box-sizing: border-box;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#menubar {
    background-color: skyblue;
}

#play {
    background-color: bisque;
}

#status {
    background-color: khaki;
}

footer {
    margin: 0;
    border-top: 1px solid black;
    background-color: rgb(196, 118, 236);
}